---
apiVersion: v1
kind: Service
metadata:
  name: dev-deployment-service
  namespace: dev
spec:
  ports:
  - name: "8080"
    port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    app: dev-app
  type: LoadBalancer
