---
apiVersion: v1
kind: Service
metadata:
  name: prod-deployment-service
  namespace: prod
spec:
  ports:
  - name: "8080"
    port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    app: production-app
  type: LoadBalancer
